body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}
    

#score {
    font-size: 25px;
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
}
